# Your Discord User Token (Not Bot Token)
# WARNING: Keep this secret! Do not share it with anyone.
USER_TOKEN=your_discord_user_token_here

# The ID of the channel where you are fishing
CHANNEL_ID=your_channel_id_here

# Time to wait between /fish commands in seconds.
# (It's different per level, just spam fish again to see the number)
WAIT_TIME=2.2